body{
    margin:0;
    padding:0;
}

.frame{
    width: 700px;
    height: 625px;

}

.cover{
    /* position: relative; */
    width: 700px;
    height: 525px;
    background: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.track{
    width: 700px;
    height: 100px;
    background: url(../images/ground.png);
    background-size: cover;
    background-repeat: repeat-x;
    
}

#bird{
    position:absolute;
    left:200px;
    top:200px;
    height: 80px;
    width: 80px;
    background: url(../images/bird.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.pipe{
    background: url(../images/pipe.png);
    position: absolute;
    /* background: red; */
    width: 80px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}