body{
    margin:0;
    padding:0;
    overflow: hidden;
}

p{
    margin:0;
    padding:0;
    z-index: 10;
    text-align: center;
    position: relative;
    font-size: 100px;
    color: white;
    
}
.frame{
    width: 1400px;
    height: 625px;
    overflow: hidden;
    position: relative;
}

.cover{
    /* position: relative; */
    width: 1400px;
    height: 525px;
    background: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.track{
    position: relative;
    width: 3000px;
    height: 100px;
    background: url(../images/ground.png);
    background-repeat: repeat-x;
    overflow: hidden;
    z-index: 4;
}

.trackmove{
    animation: move 1.5s linear infinite;
}

@keyframes move{
    100%{
        transform: translateX(-500px);
    }
}


#bird{
    position:absolute;
    left:200px;
    bottom:200px;
    height: 70px;
    width: 70px;
    background: url(../images/bird.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
}


.pipe{
    background: url(../images/pipe.png);
    position: absolute;
    /* background: red; */
    width: 80px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    overflow: hidden;
}


.upperPipe{
    background: url(../images/pipe.png);
    position: absolute;
    transform: rotate(180deg);
    /* background: red; */
    width: 80px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    /* top:0; */
    z-index: 1;
}